/* login page */
.box{
    margin: 7% 32% !important;
}
.box h1{
    text-align: center;
}

body{
    background-color: rgb(255, 246, 253) ;
    scroll-behavior: smooth;
}

/* navbar */
.navbar{
    background-color: rgb(247, 77, 182)  !important;
    position: absolute;
    height: 60px !important;
}
.navbar a{
    color: white !important;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
}
.right{
    margin-left: 130px !important;
    display:block;
}
.right a{
    font-size: large;
    margin-right: 20px;
}
.search{
    margin-left: 530px;
    width: 25%;
    display:inline-flex;
    background-color:rgb(226, 76, 164);
    border-radius: 55px;
    padding-top: 5px;
    padding-left: 5px;
}
.search .inputbase{
    color: white !important;
    padding-left: 5px;

}
#logout{
    color: white;
    font-weight: 700;
}
#sign{
    font-weight: 500;
    margin-left: 750px !important;
    font-size: 15px;
}
#logo{
    font-size: 30px;
    text-decoration: none;
}
.purple{
    color:darkviolet;
    text-shadow: 1px 1px 1px black;
}
.white{
    text-shadow: 1px 1px 1px black;
}

/* home page */
.products{
    width: 200px;
    height: 300px;
    margin: 8px;
    padding: 10px;
}
.line{
    display: inline;
    margin-right: 5px !important;
    font-weight: 200;
    width: max-content;
}
.block{
    display: block;
    width: max-content;
}
.imagebtn{
    width: 210px;
    height: 180px;
    padding-left: 0 !important;
}
.image{
    width: 100%;
    height: 180px;
    background-color: rgb(218, 214, 214);
}
.btn{
    background-color: rgb(247, 77, 182) !important;
    color: white !important;
    font-size: 15px;
    margin-top: 5px !important;
}
.bold{
    font-weight: bold !important;
}
.pprice{
    color: rgb(247, 77, 182) !important;
}
#dash2{
    float: left;
    display: inline;
    position: fixed;
    margin-right: 20px;
    max-width: 260px;
    margin-top: 45px;
}
.MultiToolbar-regular,#toolbar{
    display: none;
}
.vetical{
    height: 1000px;
}
.dashcontent{
    padding:  30px 30px 5px 20px !important;
    margin-top: 70px;
    float: right;
}
.vmenu{
    width: 100%;
    padding: 5px !important;
    text-align: start;
    justify-content: left !important;
    padding-left: 60px !important;
    color: rgb(238, 209, 250) !important;
    align-items: end !important;

}
.vmenu a{
    color: black;
    text-decoration: none;
    font-weight: 300;
    text-align:start !important;
    margin-left: 1px;
    height: 30px;
}
h3{
    color: rgb(247, 77, 182);
}

/* Payment */
.cardno{
    width: 250px !important;
}
.date{
    width: 175px;
}
.datebox{
    display: inline !important;
}
.dateb{
    margin-right: 4px !important;
    width: 70px;
}
/* Product page */
.prodbox{
    width: 95%;
    height: 100%;
    margin: 80px auto;
    padding: 30px !important;
}
.img{
    width: 50% !important;
    height: 55% !important;
    float: left;
}
.prodname{
    font-size: 2rem;
    font-weight: 500;
}
.price{
    color: rgb(247, 77, 182);
    font-size: 20px;
}
.qty{
    display: inline-block;
}
.qtytype{
    display: inline;
}
.ctgy{
    display: inline-block;
}
.subctgy{
    display: inline;
}
.desc{
    display: inline-block;
}
.prodDtls{
    margin: 5px;
    float: right;
    width: 45%;
}

/* cart */
.cart{
    margin-top: 100px;
}
.first{
    margin-right: 0 !important;
    margin-left: 5px;
    display: inline-block;
}
.second{
    float: right;
    padding: 10px;
    margin-right: 50px;
    height: 200px;
}
.recptname{
    display: inline;
    font-weight: 300;
}
.recptprice{
    display: inline;
    float: right;
    margin-top: -10px;
}
.reciept{
    width: 300px;
    padding: 5px;
}
.deleteItm{
    float:right;
    margin-top: -10px;
    margin-right: -20px;
    opacity: 0.5;
    width:min-content
}
#hr{
    width: 80% !important;
    margin: 1% 10% !important;
}
.reciept h2{
    margin-left: 20px;
}
.cartbox{
    width: 700px !important;
    height: 150px;
    padding: 10px 20px 10px 30px;
    margin-right: 0 !important;
}
.cartname{
    font-weight: 500;
    font-size: 20px;
}
.cartimg{
    width: 150px !important;
    height: 150px !important;
    float: left;
}
.cartDtls{
    display: inline;
    width: 500px;
    height: 80px !important;
    float: right;
    margin: 0 !important;
    padding: 0px;
}
.cartprice{
    color: rgb(247, 77, 182);
    font-size: 20px;
    float: right;
    margin-top: -10px;
}
.cartimgcont{
    display: inline !important;
    width: 25% !important;
    height: 15% !important;
}
.cartctgy{
 display: inline;
}
.cartsubctgy{
 display: inline;
}
.cartprice{
   display: inline;  
}

/* bag */
.bag1{
    display: inline-block;
    width: 300px;
    position: fixed;
}
.bag{
    margin-right: 100px !important;
    margin-left: 5px !important;
    float: right;
    padding-top: 30px ;
}
.bagbox{
    margin-top: 60px;
}
#photo{
    font-size: 100px;
    color: rgb(216, 212, 212);
}
.photo{
    text-align: center;
}
.grid{
    text-align: center;
}
#emptyimg{
    width: 200px;
    height: 200px;
    padding: 100px 300px;
}

/* landing */
.jumbotron{
    width: 50%;
    height: 600px;
    padding-top: 10px;
}
.jumbox{
    background: linear-gradient(to left, rgb(245, 64, 64),purple);
    height: 600px;
}
.jumbocontent{
    text-align: center;
    margin-top: -350px;
    margin-left: 550px;
}
.landing{
    padding:  30px 30px 5px 20px !important;
    margin-top: 50px;
    margin-bottom: 50px !important;
}
.circlebox{
    text-align: center;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
}
.circle{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50% !important;
}
.jumimg{
    width: 100%;
    height: 200px;
    background-color: rgb(218, 214, 214);
}
.imgbtn{
    width: 210px;
    height: 200px;
    padding-left: 0 !important;
}
.links{
    margin: 10px;
}
.links:hover{
    transform: scale(1.5);
}

/* footer */
.footerlogo{
    color: white !important;
    font-size: larger;
    font-weight: 700;
    text-decoration: none;
    padding: 20px;
    width: 300px;
    display: inline-block !important;
}
.fpurple{
    color: rgb(247, 77, 182);
    font-size: larger;
    font-weight: 500;
}
.fwhite{
    color: white;
    font-weight: 500;
    font-size: larger;

}
.footer{
    background: rgb(59, 57, 57);
    margin-top: 50px;
    padding: 10px;
}